* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background: #f28f56;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-conteiner {
    background-color: rgba(160, 78, 12, 0.651);
    padding: 3em;
    width: 100%;
    max-width: 400px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgb(0, 0, 0, 0.2);
    text-align: center;
}

h2 {
    margin-bottom: 1em;
    color: rgb#434648;
}

.input-group {
    text-align: left;
    margin-bottom: 1em;
}
.input-group label{
    display: block;
    margin-bottom: 0.5em;
    font-weight: bold;
}
.input-group input{
 width: 100%;
 padding: 10px;
 border: 1px solid;
 border-radius: 5px;
 font-size: 17px;
}

button{
    width: 100%;
    padding: 10px;
    background-color: #f5a06b;
    color: aliceblue;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    }
    button:hover{
        background-color: #792e00;
    }